/* .login-form {
  width: 360px;
  height: 152px;
} */

label {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

button {
  border-radius: 8px;
  padding: 8px 16px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  margin-top: 10px;
}

input {
  width: 360px;
  height: 72px;
}
